<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ChristmasSongs.AntiGravity3.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>ChristmasSongs</name>

    <description>
        The Best App Ever!
    </description>

    <author href="http://scratch.mit.edu/users/AntiGravity3" email="blazessdu6@gmail.com">
        AntiGravity3
    </author>

</widget>
